apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  POSTGRES_DB: ${POSTGRES_DB}
  APP_USER_DATABASE: ${APP_USER_DATABASE}
  APP_PASSWORD_DATABASE: ${APP_PASSWORD_DATABASE}