apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-client-database-mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-client-database-mongo
  template:
    metadata:
      labels:
        app: app-client-database-mongo
    spec:
      containers:
        - name: mongodb
          image: mongo:7.0
          ports:
            - containerPort: 27017
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          env:
            - name: MONGO_INITDB_DATABASE
              value: app-client-database-mongo