apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-product
  labels:
    app: app-product
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-product
  template:
    metadata:
      labels:
        app: app-product
    spec:
      initContainers:
        - name: wait-for-mongodb
          image: busybox:1.28
          command: ['sh', '-c', 'until nc -z mongodb 27018; do echo waiting for mongodb; sleep 2; done;']
      containers:
        - name: app-product
          image: gguihermegarcia1/tech-challenge-fiap-product:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: app-product-config
            - secretRef:
                name: app-product-secrets
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8081
            initialDelaySeconds: 60
            periodSeconds: 20
            failureThreshold: 5
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
