apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secrets
  labels:
    app: mongodb
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: admin
  MONGO_INITDB_ROOT_PASSWORD: password123
  MONGO_INITDB_DATABASE: product_db
